################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BeribitStatistics/.vs/BeribitStatistics
/BeribitStatistics/BeribitStatistics/bin/Debug/net5.0
/BeribitStatistics/BeribitStatistics/obj
